*{
    background-color: black;
    color: white;
    font-family: popins;
    font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
#ninesixty
{
    height:auto;
    width:auto;
    margin-top:40px;
    margin-left: 10px;
    background-color:rgb(0, 0, 0);
    margin: 0 auto;
    text-align:center;
    border-radius:8px;
    display:inline-block;
}
.ttm{
  width: 60%; 
  text-align: center;  
  display: inline-block;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}
.center-promo {
    width: 720px;
    padding: 20px;  
  text-align: center;  
  margin: 5px 2px;  
  font-size: 30px; 
  display: inline-block;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container {
    height:auto;
    width:auto;
    margin-top:40px;
    margin-left: 10px;
    margin: 0 auto;
    background-color: rgb(53, 53, 49);
    border-radius:10px;
    display:flex;
    list-style-type: none;
}
.logo {
 background-color: rgb(53, 53, 49);
 margin-right: auto;

}
.items{
    background-color:rgb(53, 53, 49) ;
    border-radius:10px;
    padding: 30px;
    width: auto;
}
.items-img{
  visibility: hidden;
  background-color:rgb(53, 53, 49) ;
  border-radius:10px;
  padding: 20px;
  text-align: center;  
  margin: 5px 2px;  
  font-size: 30px; 
  display: inline-block;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a:link {
    color: #d5a96a;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #e68c0d;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
 .bottom-img{
    width: 20%;
    padding: 10px;  
    text-align: center;  
    margin: 5px 2px;  
    font-size: 30px; 
    display: inline-block;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 700px) {
    items-img{
      visibility: visible;
      background-color:rgb(53, 53, 49) ;
      border-radius:10px;
      padding: 20px;
      text-align: center;  
      margin: 5px 2px;  
      font-size: 30px; 
      display: inline-block;
      display: block;
      margin-left: auto;
      margin-right: auto;
     }
  
    ul {
      flex-direction: column;
      text-align: center;
    }
  
    li {
      margin: auto 0;
    }
    .center-promo {
        width: 90%;
    }
    .ttm{
        width: 100%; 
        text-align: center;  
        display: inline-block;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .logo{ 
    text-align: center;  
    margin: 5px 2px;  
    font-size: 30px; 
    display: inline-block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .items-img{
      background-color:rgb(53, 53, 49) ;
      border-radius:10px;
      padding: 20px;
      text-align: center;  
      margin: 5px 2px;  
      font-size: 30px; 
      display: inline-block;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }